#nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  /* border: solid red 5px; */
}

#header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 75px;
}

#user {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--lt-accent-clr);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  #nav {
    flex-direction: column;
    border: solid red 5px;
  }
}
